<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkfit.admin.mapper.GymSettingMapper">

    <resultMap id="gymSettingResultMap" type="GymSetting">
        <id     property="id"          column="id"/>
        <result property="gymName"     column="gym_name"/>
        <result property="gymPhone"    column="gym_phone"/>
        <result property="gymAddress"  column="gym_address"/>
        <result property="isOpen"      column="is_open"/>
        <result property="monOpen"     column="mon_open"/>
        <result property="monClose"    column="mon_close"/>
        <result property="monClosed"   column="mon_closed"/>
        <result property="tueOpen"     column="tue_open"/>
        <result property="tueClose"    column="tue_close"/>
        <result property="tueClosed"   column="tue_closed"/>
        <result property="wedOpen"     column="wed_open"/>
        <result property="wedClose"    column="wed_close"/>
        <result property="wedClosed"   column="wed_closed"/>
        <result property="thuOpen"     column="thu_open"/>
        <result property="thuClose"    column="thu_close"/>
        <result property="thuClosed"   column="thu_closed"/>
        <result property="friOpen"     column="fri_open"/>
        <result property="friClose"    column="fri_close"/>
        <result property="friClosed"   column="fri_closed"/>
        <result property="satOpen"     column="sat_open"/>
        <result property="satClose"    column="sat_close"/>
        <result property="satClosed"   column="sat_closed"/>
        <result property="sunOpen"     column="sun_open"/>
        <result property="sunClose"    column="sun_close"/>
        <result property="sunClosed"   column="sun_closed"/>
        <result property="notice"      column="notice"/>
        <result property="updatedAt"   column="updated_at"/>
    </resultMap>

    <select id="find" resultMap="gymSettingResultMap">
        SELECT * FROM gym_setting WHERE id = 1
    </select>

    <insert id="upsert">
        INSERT INTO gym_setting (
            id, gym_name, gym_phone, gym_address, is_open,
            mon_open, mon_close, mon_closed,
            tue_open, tue_close, tue_closed,
            wed_open, wed_close, wed_closed,
            thu_open, thu_close, thu_closed,
            fri_open, fri_close, fri_closed,
            sat_open, sat_close, sat_closed,
            sun_open, sun_close, sun_closed,
            notice
        ) VALUES (
            1, #{gymName}, #{gymPhone}, #{gymAddress}, #{isOpen},
            #{monOpen}, #{monClose}, #{monClosed},
            #{tueOpen}, #{tueClose}, #{tueClosed},
            #{wedOpen}, #{wedClose}, #{wedClosed},
            #{thuOpen}, #{thuClose}, #{thuClosed},
            #{friOpen}, #{friClose}, #{friClosed},
            #{satOpen}, #{satClose}, #{satClosed},
            #{sunOpen}, #{sunClose}, #{sunClosed},
            #{notice}
        )
        ON DUPLICATE KEY UPDATE
            gym_name   = #{gymName},   gym_phone    = #{gymPhone},
            gym_address= #{gymAddress}, is_open     = #{isOpen},
            mon_open   = #{monOpen},   mon_close    = #{monClose},   mon_closed = #{monClosed},
            tue_open   = #{tueOpen},   tue_close    = #{tueClose},   tue_closed = #{tueClosed},
            wed_open   = #{wedOpen},   wed_close    = #{wedClose},   wed_closed = #{wedClosed},
            thu_open   = #{thuOpen},   thu_close    = #{thuClose},   thu_closed = #{thuClosed},
            fri_open   = #{friOpen},   fri_close    = #{friClose},   fri_closed = #{friClosed},
            sat_open   = #{satOpen},   sat_close    = #{satClose},   sat_closed = #{satClosed},
            sun_open   = #{sunOpen},   sun_close    = #{sunClose},   sun_closed = #{sunClosed},
            notice     = #{notice}
    </insert>

    <update id="updateOpenStatus">
        UPDATE gym_setting SET is_open = #{isOpen} WHERE id = 1
    </update>

</mapper>
